# Interpreter
Interpreter/[Bb]in/*
Interpreter/[Oo]bj/*

# Parser
Parser/[Bb]in/*
Parser/[Oo]bj/*

# PPrint
PPrint/[Bb]in/*
PPrint/[Oo]bj/*

# Language
Language/[Bb]in/*
Language/[Oo]bj/*

# ParserTester
ParserTester/[Bb]in/*
ParserTester/[Oo]bj/*

# App
App/[Bb]in/*
App/[Oo]bj/*

# Extensions
Extensions/[Bb]in/*
Extensions/[Oo]bj/*

# Root
.paket/paket.exe
paket-files/
.paket/paket.exe

# general
.DS_Store
